@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.background:hover > .title {
  color: white;
  scale: 1.01;
}

.background:hover > .logo {
  opacity: 1;
  scale: 1.05;
}

.card {
  background-size: 105%;
}

.card:hover {
  background-size: 100%;
  background-position: center;
}

.animate-in {
  animation: animateIn 2s ease-in-out both;
}

.animate-in-right {
  animation: animateInRight 0.5s ease-in-out both;
}

@keyframes animateInRight {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  50% {
    opacity: 0.5;
    transform: translateX(5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.arrow-enter {
  animation: arrowIn 0.3s ease-in-out both;
}

.arrow-exit {
  animation: arrowOut 0.3s ease-in-out both;
}

@keyframes arrowIn {
  from {
    transform: translate(-10px, -50%);
  }
  to {
    transform: translate(0px, -50%);
  }
}

@keyframes arrowOut {
  from {
    transform: translate(0, -50%);
  }
  to {
    transform: translate(10px, -50%);
  }
}
