@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.background:hover > .title {
  color: white;
  scale: 1.01;
}

.background:hover > .logo {
  opacity: 1;
  scale: 1.05;
}

.card {
  background-size: 105%;
}

.card:hover {
  background-size: 100%;
  background-position: center;
}

.arrow-enter {
  animation: arrowIn 0.3s ease-in-out both;
}

.arrow-exit {
  animation: arrowOut 0.3s ease-in-out both;
}

.HoverCardContent {
  transform-origin: var(--radix-hover-card-content-transform-origin);
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes arrowIn {
  from {
    transform: translate(-10px, -50%);
  }
  to {
    transform: translate(0px, -50%);
  }
}

@keyframes arrowOut {
  from {
    transform: translate(0, -50%);
  }
  to {
    transform: translate(10px, -50%);
  }
}
