@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.background:hover > .title {
  color: white;
  scale: 1.01;
}

.background:hover > .logo {
  opacity: 1;
  scale: 1.05;
}

.card {
  background-size: 105%;
}

.card:hover {
  background-size: 100%;
  background-position: center;
}

.animate-in {
  animation: animateIn 2s ease both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
